<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ this.repository.name }}</mat-card-title>
    <mat-card-subtitle>{{ this.repository.language ? this.repository.language : '&nbsp;' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <br />
    <p>
      {{ this.repository.description }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button href="{{ this.repository.html_url }}" target="_blank">Open on GitHub</a>
  </mat-card-actions>
</mat-card>
