<mat-toolbar color="primary">
  <span>{{ this.userService.user$ | async }}'s repositories</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon [@openClose]="sidenav.opened ? 'open' : 'closed'">settings</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end"><app-settings></app-settings></mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
